
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>The Bee Program</h2>
        <ul>

            <li>@Html.ActionLink("The Bee Game", "StartBees", "Home")</li>
        </ul>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>